<div class="container">
    <div class="container-recent">
        <div class = "change-college">
            <select id ="features" class="select" >
                <option value="CSULB">CSULB</option>
            </select>
        </div>

        <mat-toolbar class="container-title">
            <b>Recent</b>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

        <div class="container-objects">
            <button (click)="selectPreviousTab()" [disabled]="selectedTabIndex === 0" class="previous">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
          
            <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="tabChanged($event)">
                <mat-tab *ngFor="let spot of spotsRecent">
                    <ng-template mat-tab-label>
                      {{ spot }}
                    </ng-template>
                    <app-studyspot [name]="spot"></app-studyspot>
                </mat-tab>
            </mat-tab-group>
          
            <button (click)="selectNextTab()" [disabled]="selectedTabIndex === spotsRecent.length - 1" class="next">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>

    <div class="container-ymlt"> 
        <mat-toolbar class="container-title">
            <b>You might like these...</b>
        </mat-toolbar>

        <div class="container-objects">
            <button (click)="selectPreviousTabmight()" [disabled]="selectedMightTabIndex === 0" class="previous">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
          
            <mat-tab-group [selectedIndex]="selectedMightTabIndex" (selectedIndexChange)="tabChangedmight($event)">
                <mat-tab *ngFor="let spot of spotsSuggested">
                    <ng-template mat-tab-label>
                      {{ spot.name }}
                    </ng-template>
                    <app-studyspot [name]="spot.name"></app-studyspot>
                </mat-tab>
            </mat-tab-group>
          
            <button (click)="selectNextTabmight()" [disabled]="selectedMightTabIndex === spotsSuggested.length - 1" class="next">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>
