<div class="main-container">
    <div class="label-container"> 
        <h1 class="label">Previous Reviews</h1>
    </div>

    <div class="align-button">

        <div>
            <button (click)="selectPreviousTab()" [disabled]="selectedTabIndex === 0" class="previous">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
    
        <div class="spot-container">
            <div class="spot">
                <app-studyspot [name]="spots[selectedTabIndex].name"></app-studyspot>
                <div class="star-uc-container">
                    <app-userrating userID="{{ spots[selectedTabIndex].userId }}" rating="{{ spots[selectedTabIndex].rating }}" comment="{{ spots[selectedTabIndex].comment }}"></app-userrating>
                </div>
            </div>
        </div>

        <div>
            <button (click)="selectNextTab()" [disabled]="selectedTabIndex === spots.length - 1" class="next">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>