.title{
    background-color: cadetblue;
    position: absolute;
    width: 90%;
    height: 5%;
    left: 70px;
    margin-top: 12%;
    display: flex;
    justify-content: left;
    border-radius: 10px 10px 0 0;
  }
  
  p{
      padding: 10px;
      font-size: larger;
      font-weight: bolder;
  }

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    padding-top: 16%;
    padding-left: 5%;
    padding-right: 5%;
}


.container-objects
{
    display: flex;
    margin-bottom: 50px;
    background-color: cadetblue;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

app-studyspot
{
    flex-shrink: 10;
}
ng-template{
    display: none;
}

.no-tab-header .mat-tab-label-content {
    display: none;
  }

.previous, .next {
    border: rgb(2, 35, 36) 2px solid;
    background-color: cadetblue;
    cursor: pointer;

}

.star-uc-container{
    width: 100%;
    margin-top: 3%;
}
/* Media Query for Small Screens */
@media (max-width: 768px) {
    .title {
        width: 90%;
        left: 5%;
        margin-top: 10%;
        height: max-content;
        border-radius: 10px 10px 0 0;
    }

    .container {
        margin-top: 30%;
        padding: 10% 5%;
    }
    
    .container-objects {
        padding: 10px;
        margin-top: 15%;
    }
    
    .container-recent,
    .container-ymlt {
        margin-bottom: 20px;
    }

    .previous, .next {
        display: none;
    }
    .star-uc-container{
        width: 92%;
        margin-top: 5%;
        padding-left: 3%;
    }
    .name{
        display: block;
    }
}