.main-container
{
    background-color:aliceblue;
    width: 1308px;
    height: 617px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    display:flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.label-container
{
    height: 7%;
    width: 15%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: #007F7F;
    margin-left: 20px;
    margin-top: 20px;
}

.align-button
{
    display: flex;
    justify-content: space-between;
}

.spot-container
{
    margin-left: auto;
    margin-right: auto;
    width: 1209px;
    height: auto;
}

.spot
{
    padding-top: 40px;
    display: flex;
}

.star-uc-container
{
    margin-left: 20px;
}

.prof-star
{
    display: flex;
    justify-content: flex-start;
}

.uc-container
{
    background-color: white;
    width: 860px;
    height: 139px;
}

.previous
{
    margin-left: 10px;
}