.welcome{
    background-image: url("../../assets/Landing/Landing.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btnBegin{
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}

.detail-item-button{
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-top: 3cm;
  }
  
 #special-button{
    width: 170px;
    padding: 10px;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: rgb(10, 11, 31) 2px solid;
    background-color: rgb(21, 129, 133);
    color: black; 
    cursor: pointer; 
    color: rgba(255, 251, 240);
  }
#special-button:hover{
    background-color: goldenrod;
    border: none;
}

.animated-text{
    display: none;
}

@media (max-width: 768px) {
    
    .welcome{
        background-image: url("../../assets/Landing/LandingHome.png");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .detail-item-button {
        padding: 10%;
        margin-top: 0;
        width: max-content;
    }
    
    .btnBegin{
        display: grid;
        padding-right: 5%;
        padding-top: 10%;
    }

    #special-button {
        width: 100%; 
    }

    .animated-text {
        display:inherit;
        background-color: rgba(95, 158, 160, 0.4);
        text-align: center;
        color: rgba(255, 251, 240);
        font-size: 18px;
        font-weight: bolder;
        opacity: 85%;
        border-radius: 10px;
        margin-top: 120%;
      }
      
      .text {
        opacity: 0;
        transform: translateY(30px);
        animation: fadeInUp 1s forwards;
      }
      
      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translateX(50px);
    
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
}