<div class = "welcome">
    <div class="btnBegin">
          <div class="detail-item-button">
            <button id = "special-button" routerLink="/login">SIGN-IN</button>
          </div>
          <div class="detail-item-button">
            <button id = "special-button" routerLink="/signup">SIGN-UP</button>
          </div>
    </div>

    <div class="animated-text">
        <p class="text">REAL-TIME UPDATES</p>
        <p class="text">RATINGS</p>
        <p class="text">SEARCH WITH FILTER</p>
    </div>
</div>