form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
  }
  
  .container_form {
    background-color: cadetblue;
    width: 40%;
    height: max-content;
    margin: 15% auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.9);
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 24px;
    color: black;
    padding-top: 20px;
    font-family: "Lucida Console", Courier, monospace;
  }
  
  mat-table {
    border-collapse: separate;
    border: 5px ;
    border-radius: 40px;
    background-color: transparent;
  }
  
  mat-cell {
    color: #fff;
  }
  
  mat-header-cell,
  mat-label{
      color: cadetblue;
  }
  
  button[type="submit"] {
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    align-self: center;
  }

  .signin{
    flex-basis: 20%;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
  }
  
  .btn-primary {
    margin-top: -2%;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-secondary {
    margin-top: -5%;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  
  /* Mobile styles */
@media screen and (max-width: 767px) {
  form {
    width: 80%;
  }
  
  .container_form {
    width: 90%;
    height: auto;
    margin-top: 40%;
  }
  
  h2 {
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  
  mat-table {
    border-radius: 20px;
  }
  
  button[type="submit"] {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 20px;
  }
  
  .signin {
    flex-basis: 30%;
  }
  
  .btn-primary,
  .btn-secondary {
    margin-top: 10%;
    font-size: 14px;
    padding: 8px 16px;
  }
}