<div class="card-container">
    <div class="card-image">
      <img [src]="imageUrl" alt="Card Image">
    </div>
    <div class="like-button">
      <button mat-icon-button (click)="toggleLike()">
        <mat-icon [color]="liked ? 'warn' : 'white'">favorite</mat-icon>
      </button>
    </div>
    <div class="card-details">
      <div class="card-rating">
        <span *ngFor="let star of getStars(rating)">
          <mat-icon class="bigger-icon">stars</mat-icon>
        </span>
      </div>
      <div class="card-name" (click) = "onCardClick({name,imageUrl,rating})">{{ name }}</div>
    </div>
</div>
  