<!-- Page content: study spots -->
<div class="content">

    <div class="image-container">
        <img style='height: 30%; width: 30%; object-fit: cover'
            src="https://www.csulb.edu/sites/default/files/images/2022-08/Horn%20Center-05.JPG" />
        <div class="text-overlay">
            Horn Center Computer Lab
        </div>
    </div>

    <div class="review-overlay">
        <mat-icon inline="true">star_border</mat-icon>
        <mat-icon inline="true">star_border</mat-icon>
        <mat-icon inline="true">star_border</mat-icon>
        <mat-icon inline="true">star_border</mat-icon>
        <mat-icon inline="true">star_border</mat-icon>
    </div>



</div>