.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.search {
    font-size: 16px;
    background: #C8D8E4;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background: #C8D8E4;
    border-color: white;
    width: 100%;
    min-height: 100vh; /* Changed to 100vh to take at least the full height of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    position: relative;
    display: inline-block; /* Changed from flex to inline-block to size container to the image */
    margin-left: 100px;
}

.image-container img {
    display: block; /* Removes bottom margin/whitespace under the image */
}

.image {
    display: grid;
    margin: 15px;
    height: auto;
    width: auto;    
}

.text-overlay {
    position: absolute;
    bottom: 0; /* Position at the bottom of the image-container */
    left: 0;
    right: 0; /* Stretch across the entire width of the image-container */
    color: white;
    background-color: rgba(0, 0, 0, 255); /* Use rgba for a slightly transparent background */
    padding: 10px;
    text-align: center; /* Center the text */
    border-radius: 0; /* Adjust as needed */
    width: fit-content;
}

.review-overlay{
    font-size: 40px;
    color: red;
    position: relative;
    bottom: -60px;
    left: 5%;
}
