<div class="content">
    <div class="image-container">
        <img src="https://www.csulb.edu/sites/default/files/images/2022-08/Horn%20Center-05.JPG" />
        <div class="overlay-wrapper">
            <div class="text-overlay">
                Horn Center Computer Lab
            </div>
            <div class="review-overlay">
                <mat-icon inline="true">star_border</mat-icon>
                <mat-icon inline="true">star_border</mat-icon>
                <mat-icon inline="true">star_border</mat-icon>
                <mat-icon inline="true">star_border</mat-icon>
                <mat-icon inline="true">star_border</mat-icon>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <button>Location</button>
        <button>Features</button>
        <button>Availability</button>
        <button>Noise Level</button>
    </div>
    <div class="right-container">
        <button>Check-in</button>
        <button>Rate me</button>
        <button>Traffic status</button>
    </div>
</div>
