.content {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 100vh;
    background: #C8D8E4;
    flex-wrap: wrap; /* Allows child elements to wrap onto the next line */
    margin-top: 75px;
}

.image-container {
    position: relative;
    height: 30vh;
    width: 30vw;
    overflow: hidden;
    margin-left: 15vh;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}

.text-overlay {
    color: white;
    padding: 5px;
}

.review-overlay {
    font-size: 40px;
    color: yellow;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 75px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    margin-left: 15vh;
    margin-top: -275px;
}

button {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: none;
    transition: background-color 0.3s;
    width: 30vw;
}

button:hover {
    background-color: #45a049;
}

button:last-child {
    margin-bottom: 0;
}
