.spots-container{
    background-color: cadetblue;
    position: relative;
    width: 900px;
    height: fit-content;
    margin: 230px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    font-family: 'Chalkduster, fantasy';
    font-size: larger;
}