<div class="search-filter">
<form [formGroup]="searchForm" (ngSubmit)="applyFilters(searchForm.value)">
  <!-- Indoor and Outdoor checkboxes -->
  <mat-radio-group formControlName="studyspot_is_indoor">
    <mat-radio-button value="Indoor">Indoor</mat-radio-button>
    <mat-radio-button value="Outdoor">Outdoor</mat-radio-button>
  </mat-radio-group>

  <!-- Group for Noise and Crowdedness Levels -->
  <div formGroupName="filters">
    <!-- Custom Noise Level Slider -->
    <p>Noise Level: {{ searchForm.get('filters.studyspot_noise_level')?.value }}</p>
    <div class="custom-slider">
      <input type="range" formControlName="studyspot_noise_level" min="1" max="5" id="noiseLevel">
    </div>

    <!-- Custom Crowdedness Level Slider -->
    <p>Crowdedness Level: {{ searchForm.get('filters.studspot_crowdedness_level')?.value }}</p>
    <div class="custom-slider">
      <input type="range" formControlName="studspot_crowdedness_level" min="1" max="5" id="crowdednessLevel">
    </div>

    <!-- Group for Amenities -->
    <div formGroupName="amenities">
      <mat-checkbox formControlName="studyspot_power_outlets">Power Outlets</mat-checkbox>
      <mat-checkbox formControlName="studyspot_strong_wifi">Strong Wi-Fi Signal</mat-checkbox>
      <mat-checkbox formControlName="studyspot_ada">ADA Accessible</mat-checkbox>
      <mat-checkbox formControlName="studyspot_easy_to_find">Easy to Find</mat-checkbox>
    </div>
  </div>
  <button type="submit">Apply</button>
</form>
</div>