<div class="search-filter">
<form [formGroup]="searchForm" (ngSubmit)="applyFilters(searchForm.value)">
  <!-- Indoor and Outdoor checkboxes -->
  <mat-radio-group formControlName="location">
    <mat-radio-button value="Indoor">Indoor</mat-radio-button>
    <mat-radio-button value="Outdoor">Outdoor</mat-radio-button>
  </mat-radio-group>

  <!-- Group for Noise and Crowdedness Levels -->
  <div formGroupName="filters">
    <!-- Custom Noise Level Slider -->
    <p>Noise Level: {{ searchForm.get('filters.noiseLevel')?.value }}</p>
    <div class="custom-slider">
      <input type="range" formControlName="noiseLevel" min="1" max="5" id="noiseLevel">
    </div>

    <!-- Custom Crowdedness Level Slider -->
    <p>Crowdedness Level: {{ searchForm.get('filters.crowdednessLevel')?.value }}</p>
    <div class="custom-slider">
      <input type="range" formControlName="crowdednessLevel" min="1" max="5" id="crowdednessLevel">
    </div>

    <!-- Group for Amenities -->
    <div formGroupName="amenities">
      <mat-checkbox formControlName="powerOutlets">Power Outlets</mat-checkbox>
      <mat-checkbox formControlName="strongWifi">Strong Wi-Fi Signal</mat-checkbox>
      <mat-checkbox formControlName="adaAccessible">ADA Accessible</mat-checkbox>
      <mat-checkbox formControlName="easyToFind">Easy to Find</mat-checkbox>
    </div>
  </div>

  <div class="temperature-radio">
    <label>Temperature:</label>
    <mat-radio-group formControlName="temperature">
      <mat-radio-button value="Cold">Cold</mat-radio-button>
      <mat-radio-button value="Warm">Warm</mat-radio-button>
      <mat-radio-button value="Hot">Hot</mat-radio-button>
    </mat-radio-group>
    
  </div>

  <button type="submit">Apply</button>
</form>
</div>