.search-filter {
    background-color: #FFFBF0;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 200px; 
  }
  
  .filter-group {
    margin-bottom: 16px;
  }
  
  /* Style for the range input and its value display */
  input[type="range"] {
    width: 100%;
  }
  
  /* Style for checkboxes */
  .checkbox {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  .checkbox input {
    margin-right: 8px;
  }
  
/* Style for temperature range */
.temperature-range {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  
  /* Style for radio inputs */
  .temperature-range input[type="radio"] {
    display: none; 
  }
  
  /* Style for labels of radio inputs */
  .temperature-range label {
    flex-grow: 1;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  /* Style for selected label */
  .temperature-range input[type="radio"]:checked + label {
    background-color: #007bff; 
    color: #fff; 
    border: 1px solid #007bff; 
  }
  
button{
    background-color: cadetblue;
    border-radius: 2px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    align-self: center;
}

.temperature-radio {
  display: flex;
  align-items: center;
}

.temperature-radio label {
  margin-right: 10px;
}


/* Mobile responsive styles using media queries */
@media screen and (max-width: 768px) {
  .search-filter {
      width: 100%; 
  }
  
  .filter-group {
      margin-bottom: 12px; 
  }
  
  .checkbox {
      flex-direction: row; 
  }
  
  .checkbox label {
      font-size: 14px;
  }
  
  .temperature-range {
      flex-direction: row;
  }
  
  .temperature-range label {
      text-align: center;
      padding: 8px;
      cursor: pointer;
      border: 1px solid #ccc;
      margin-bottom: 4px;
  }
}