<div *ngIf="!isLoginPage && !isSignUpPage && !isResetPasswordPage && !isResetLinkPage && !isCheckInPage && !isAdminLoginPage && !isAdminHomePage">
    <mat-toolbar>
        <button mat-icon-button class="button_header" matTooltip="Main Menu" [matMenuTriggerFor]="mainMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #mainMenu [overlapTrigger]="false" yPosition="below" class="customize">
            <button mat-menu-item routerLink="/home">
                <mat-icon>home</mat-icon><span>Home</span>
            </button>
            <button mat-menu-item routerLink="/favorites">
                <mat-icon>favorite</mat-icon><span>Favorite</span>
            </button>
            <button mat-menu-item routerLink="/history">
                <mat-icon>history</mat-icon><span>History</span>
            </button>
        </mat-menu>
        <div class="middle">
            <img src="assets/Logo/ssl.png" alt="Logo">
        </div>
        <div class="user">
            <div class="username">
                {{username}}
            </div>
            <button mat-icon-button class="button_header" matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
        
        <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below" class="customize">
            <button mat-menu-item routerLink="/profile">
                <mat-icon>person</mat-icon><span>Profile</span>
            </button>
            <button mat-menu-item routerLink="/settings">
                <mat-icon>settings</mat-icon><span>Settings</span>
            </button>
            <button mat-menu-item routerLink="/reviews">
                <mat-icon>rate_review</mat-icon><span>Reviews</span>
            </button>
            <button mat-menu-item routerLink="/submitrequest">
                <mat-icon>add_circle</mat-icon><span>Submit Request</span>
            </button>
            <button mat-menu-item routerLink="/help">
                <mat-icon>help</mat-icon><span>Help</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/login">
                <mat-icon>exit_to_app</mat-icon>Logout
            </button>
        </mat-menu>
    </mat-toolbar>
</div>
