.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .search {
    background: #C8D8E4;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    background: #C8D8E4;
    border-color: white;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
  }