.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .search {
    background: #C8D8E4;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    background: #C8D8E4;
    border-color: white;
    width: 100%;
    min-height: 100%;
    align-items: start;
  }

  .image-container {
    position: relative;
  }

  .image {
    display: block;
    max-height: 30%;
    max-width: 30%;
    /* height: auto; */
  }

  .text-overlay {
    display: inline-block;
    color: white;
    background-color: grey;
    padding: 10px;
    border-radius: 10%;
    position: absolute;
    bottom: 20%;
    left: 10px;
  }

  .review-overlay{
    display: inline-block;
    color: white;
    background-color: grey;
    padding: 10px;
    border-radius: 10%;
    position: absolute;
    bottom: 20%;
    left: 10px;
  }