<!-- Search Bar uses search css class -->
<div class="search">
    <form class="search">
        <button>
            <i class="material-icons" style="font-size: 16px;">manage_search</i>
        </button>
        <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input type="text"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
            </mat-option>
        </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<!-- Page content: study spots -->
<div class="content">
    
</div>