<div class = "search">
    <app-search-bar (searchQueryEvent)="handleSearchQuery($event)" [filterCriteria]="filterCriteria" (filterCriteriaEvent)="handleFilterCriteria($event)"></app-search-bar>
    <button 
    mat-raised-button
    color="primary"
    style="background-color: rgb(6, 59, 61);"
        (click)="search()">Search</button>
</div>
<div class = "spots-container">
    <div *ngFor="let spot of spots">
        <app-studyspot name="{{ spot.studyspot_name }}"></app-studyspot>
    </div>
</div>