.footer {
    background-color: cadetblue;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    flex-grow: 1; 
    text-align: left; 
    margin-left: 20px; 
  }
  
  .footer-left p,
  .footer-left a {
    margin: 5px 0;
    color: #333; 
    text-decoration: none; 
  }
  