<div class="middle">
    <img src="assets/Logo/ssl.png" alt="Logo">
</div>
<div class="container_form">
    <h2>Reset Password</h2>
    <form
      [formGroup]="signup"
      (ngSubmit)="onSubmit()"
      #formDirective="ngForm"
    >
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Email"
        />
        <mat-error
        >
          <span
            >Please enter an email address</span
          >
        </mat-error>
      </mat-form-field>
      <div style="display: flex; justify-content: center; align-items: center; height: 100%">
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      </div>

      <div class = "row">
        <div class = 'btn-primary'>
            <button
                mat-raised-button
                color="primary"
                routerLink="/reset-link"
            >
            Reset
            </button>
        </div>
      </div>
    </form>
  </div>