<h2 mat-dialog-title>Check In</h2>
<mat-dialog-content>
  <div class="crowdiness">
    <p> How Would You Rate The Crowdiness Out Of 5?</p>
    <mat-slider [min]="min" [max]="max" [step]="step">
      <input matSliderThumb [(ngModel)]="finalValue" #slider>
    </mat-slider>
    <span >{{finalValue}}</span>
  </div>
  <div class="noise-level">
    <p> How Would You Rate The Noise Level Out Of 5?</p>
    <mat-slider [min]="min" [max]="max" [step]="step">
      <input matSliderThumb [(ngModel)]="finalValue" #slider>
    </mat-slider>
    <span >{{finalValue}}</span>
  </div>
  <div class="wifi">
    <p> How Would You Rate The WiFi Connection Out Of 5?</p>
    <mat-slider [min]="min" [max]="max" [step]="step">
      <input matSliderThumb [(ngModel)]="finalValue" #slider>
    </mat-slider>
    <span >{{finalValue}}</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true">Check in</button>
</mat-dialog-actions>