<div class = "helps-container">
    <mat-nav-list>
        <div style="display:flex; justify-content: center; background-color: none; height: fit-content;">
            <h2 style="margin-top: -3px;">FAQ</h2><mat-icon>help</mat-icon>
        </div>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
                How to reset passord?
            </mat-expansion-panel-header>
            <mat-nav-list>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
                How to find near by spots?
            </mat-expansion-panel-header>
            <mat-nav-list>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
                How to change username?
            </mat-expansion-panel-header>
            <mat-nav-list>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
                How to change email?
            </mat-expansion-panel-header>
            <mat-nav-list>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
                How to access other colleges study spots?
            </mat-expansion-panel-header>
            <mat-nav-list>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-nav-list>
</div>
